# fly.toml app configuration file
# Update `app` after running `fly launch` or `fly apps create`.
# See https://fly.io/docs/reference/configuration/ for details.

app = 'lexodus'
primary_region = 'dfw'

[build]
  dockerfile = 'Dockerfile'

[env]
  IP = '0.0.0.0'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
